@charset "UTF-8";

body,
html {
  min-width: 400px;
  /* background-color: ; */
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
body, input, button {
  font-family: 'Montserrat', sans-serif;;
}
.header {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  /* background-color: ; */
  box-shadow: 5px 10px 18px #666666;
  border-bottom: 1px solid #666;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
.header .logo {
  width: 80px;
  height: auto;
}
.header .openBtnWrapper {
  display: flex;
  align-items: center;
}
.header .openBtnWrapper span {
  padding: 10px;
  font-size: 15px;
}
.header .openBtn {
  width: 50px;
  height: 50px;
  background-color: green;
  border-radius: 25px;
  border: none;
  box-shadow: none;
  appearance: none;
  outline: none;
  cursor: pointer;
  position: relative;
}
.header .openBtn svg {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header .openBtn svg path {
  fill: #fff;
}
.header .openBtnActive.openBtn {
  animation: openBtnActive .5s ease-in-out forwards;
}
@keyframes openBtnActive {
  0% {
    background-color: red;
    transform: rotate(225deg);
  }
  100% {
    background-color: greean;
    transform: rotate(0deg);
  }
}

.content {
  width: 100%;
  height: 100%;
  font-size: 0; /* For whitespace */
  text-align: center;
}
.contentWrapper {
  margin: 25px;
}
.read,
.not-read {
  width: 320px;
  height: 100%;
  min-height: 200px;
  display: block;
  margin: 0 auto;
  font-size: 20px;
}
.not-read {
  border-bottom: 1px solid #666;
}


.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255, .9);
  z-index: 2;
  cursor: pointer;
  transition: .5s;
}
.overlay .closeBtnWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 60px;
}
.overlay .closeBtnWrapper .closeBtn {
  width: 50px;
  height: 50px;
  background-color: green;
  border-radius: 25px;
  border: none;
  box-shadow: none;
  appearance: none;
  outline: none;
  cursor: pointer;
  position: relative;
}
.overlay .closeBtnWrapper .closeBtn svg {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.overlay .closeBtnWrapper .closeBtn svg path {
  fill: #fff;
}
.overlay .closeBtnWrapper .closeBtnActive.closeBtn {
  animation: closeBtnActive .5s ease-in-out forwards;
}
@keyframes closeBtnActive {
  0% {
    background-color: green;
    transform: rotate(0deg);
  }
  100% {
    background-color: red;
    transform: rotate(225deg);
  }
}


.inputWrapper {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  color:white;
  text-align:center;
}
.overlay input {
  width: 100%;
  height: 50px;
  font-size: 15px;
  font-weight: 400;
  text-indent: 18px;
  padding: 0 18px 0 0;
  border-radius: 5px;
  border: none;
  box-shadow: none;
  outline: none;
  margin-bottom: 30px;
  appearance: none;
}
.overlay input::-webkit-input-placeholder {
  color: rgba(255,255,255, 0.75);
}
.overlay input:-moz-input-placeholder {
  color: rgba(255,255,255, 0.75);
}
.overlay input::-moz-input-placeholder {
  color: rgba(255,255,255, 0.75);
}
.overlay input:-ms-input-placeholder {
  color: rgba(255,255,255, 0.75);
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .read, .not-read {
    display: inline-block;
  }
  .not-read {
    border-right: 1px solid #666;
    border-bottom: none;
  }
}