@charset "UTF-8";

* {
  box-sizing: border-box;
}

body,
html {
  min-width: 400px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: .6px;
  /* background-color: ; */
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
body, input, button {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  box-sizing: border-box;
}
.header {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  /* background-color: ; */
  box-shadow: 1px 1px 6px #666666;
  border-bottom: 1px solid #666;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
}
.header .logoWrapper {
  width: 30%;
  padding: 5px;
  text-align: left;
}
.header .logo {
  width: 50px;
  height: auto;
}
.header h1 {
  width: 30%;
  font-size: 15px;
  text-align: center;
  padding: 5px;
}
.header .openBtnWrapper {
  width: 30%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header .openBtnWrapper span {
  padding: 5px;
  font-size: 13px;
  text-align: center;
}
.header .openBtn {
  width: 40px;
  height: 40px;
  background-color: green;
  border-radius: 25px;
  border: none;
  box-shadow: none;
  appearance: none;
  outline: none;
  cursor: pointer;
  position: relative;
}
.header .openBtn svg {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all .5s ease-in-out;
}
.header .openBtn svg path {
  fill: #fff;
}
.header .openBtnActive.openBtn {
  animation: openBtnActive .5s ease-in-out forwards;
}
@keyframes openBtnActive {
  0% {
    background-color: red;
    transform: rotate(225deg);
  }
  100% {
    background-color: greean;
    transform: rotate(0deg);
  }
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255, .9);
  z-index: 2;
  transition: ease-in-out .5s;
}
.overlay .closeBtnWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
  padding: 0 5px;
}
.overlay .closeBtnWrapper .closeBtn {
  width: 40px;
  height: 40px;
  background-color: green;
  border-radius: 25px;
  border: none;
  box-shadow: none;
  appearance: none;
  outline: none;
  cursor: pointer;
  position: relative;
}
.overlay .closeBtnWrapper .closeBtn svg {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all .5s ease-in-out;
}
.overlay .closeBtnWrapper .closeBtn svg path {
  fill: #fff;
}
.overlay .closeBtnWrapper .closeBtnActive.closeBtn {
  animation: closeBtnActive .5s ease-in-out forwards;
}
@keyframes closeBtnActive {
  0% {
    background-color: green;
    transform: rotate(0deg);
  }
  100% {
    background-color: red;
    transform: rotate(225deg);
  }
}

.inputWrapper {
  width: 300px;
  height: 350px;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  color:white;
}
.inputWrapper div {
  width: 100%;
  position: relative;
  margin: 20px 0;
}
.inputWrapper div label {
  width: 96%; /* Hack for input field overwlow after paga refresh */
  position: absolute;
  top: 0;
  margin: 10px;
  padding: 5px;
  font-size: 15px;
  font-weight: 400;
  color: #000;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  appearance: none;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-transition: top .2s ease-in-out, font-size .2s ease-in-out;
  transition: top .2s ease-in-out, font-size .2s ease-in-out;
}
.inputWrapper div label.active {
  width: auto;
  font-size: 13px;
  top: -23px;
  font-size: 13px;
  padding: 5px;
  margin: 10px;
}
.inputWrapper input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid green;
  border-radius: 5px;
  font-size: 20px;
  background-color: white;
  color: #333;
  text-indent: 8px;
}
input[type="text"]:focus {
  outline: none;
}
.overlay button {
  width: 100%;
  height: 40px;
  font-size: 13px;
  text-transform: uppercase;
  border: 2px solid green;
  border-radius: 5px;
  transition: ease-in-out .5s;
  cursor: pointer;
}
.inputWrapper button:hover {
  border: 2px solid green;
  background-color: green;
  color: #fff;
}

.content {
  width: 100%;
  height: 100%;
  font-size: 0; /* For whitespace */
}
.contentWrapper {
  margin: 25px auto;
  overflow: auto;
  width: 600px;
  position: relative;
}
.content h1 {
  font-size: 20px;
  text-align: center;
  color: #333;
  padding: 20px;
}
/* .content ul {
  float: left;
  padding: 20px;
} */
.content ul li {
  width: 100%;
  min-height: 100px;
  float: left;
  font-size: 15px;
  font-weight: 500;
  color: #444;
  line-height: 22px;
  /* background-color: ; */
  padding: 10px;
  position: relative;
  box-sizing: border-box;
}
.readed,
.notRead {
  width: 520px;
  height: 100%;
  min-height: 200px;
  display: block;
  margin: 0 auto;
  font-size: 20px;
  overflow: auto;
}
.notRead {
  padding-bottom: 20px;
}
.readed {
  padding: 60px 0 0 0;
  position: relative;
}
.readed::before {
  content: '';
  width: 400px;
  height: 1px;
  background: #d8e5e0;
  position: absolute;
  top: 30px;
  left: 50%;
  margin: 0 0 0 -200px;
}
.unreadList:empty::after {
  content: 'You have no unread books added!'
}
.readedList:empty::after {
  content: 'You have no finished books yet!';
}
.unreadList::after,
.readedList::after {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 12px;
  color: #aaa;
}
.book {
  min-height: 100px;
  padding: 10px;
  box-shadow: 0px 1px 3px rgba(44,62,80, .4);
  border-radius: 5px;
  font-size: 0; /* For whitespace */
}
.book h3 {
  font-size: 17px;
  line-height: 20px;
}
.book h5 {
  font-size: 13px;
  padding: 5px 0 5px 0;
}
.book span {
  font-size: 13px;
  color: #666;
  padding: 5px 0 5px 0;
}
.book span strong {
  font-weight: 600;
}
.content .bookBtns {
  width: 100px;
  height: 50px;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translate(0, -50%);
}
.content .bookBtns button {
  width: 50px;
  height: 50px;
  float: left;
  padding: 0;
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
  position: relative;
  cursor: pointer;
}
.content .bookBtns button:last-of-type::before {
  content: " ";
  width: 1px;
  height: 40px;
  position: absolute;
  top: 5px;
  left: 0;
  background-color: darkgray;
}
.content .bookBtns button svg {
  width: 30px;
  height: 30px;
  fill: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -17px 0 0 -17px;
}
.content .bookBtns button.complete svg {
  border-radius: 50px;
  border: 2px solid green;
  transition: .5s ease;
  padding: 5px;
}
/* Readed books complete button and hover effect */
.content .readed .bookBtns button.complete svg,
.content .notRead .bookBtns button.complete:hover svg {
  background-color: green;
}
/* Readed books complete button and hover effect */
.content .readed .bookBtns button.complete svg .fill,
.content .notRead .bookBtns button.complete:hover svg .fill {
  fill: #fff;
}
/* Not readed books complete button */
.content .notRead .bookBtns button.complete svg,
.content .readed .bookBtns button.complete:hover svg {
  background-color: #fff;
  width: 33px;
  height: 33px;
}
.content .readed .bookBtns button.complete svg {
  width: 33px;
  height: 33px;
}
.content .notRead .bookBtns button.complete svg .fill {
  fill: green;
}
.content .readed .bookBtns button.complete:hover svg .fill {
  fill: green;
}
.content .bookBtns button.remove:hover svg .fill {
  fill: red;
}
.content .bookBtns button svg .fill {
  -webkit-transition: fill .5s ease;
  -moz-transition: fill .5s ease;
  -ms-transition: fill .5s ease;
  -o-transition: fill .5s ease;
  transition: fill .5s ease;
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header {
    height: 60px;
  }
  .header .logoWrapper {
    padding: 10px;
  }
  .header .logo {
    width: 80px;
  }
  .header h1 {
    font-size: 20px;
    padding: 10px;
  }
  .header .openBtnWrapper {
    padding: 10px;
  }
  .header .openBtnWrapper span {
    font-size: 17px;
    padding: 10px;
  }
  .header .openBtn {
    width: 50px;
    height: 50px;
  }
  .header .openBtn svg {
    width: 25px;
    height: 25px;
  }
  .header .openBtn:hover svg {
    width: 30px;
    height: 30px;
  }
  .overlay .closeBtnWrapper {
    height: 60px;
    padding: 0 10px;
  }
  .overlay .closeBtnWrapper .closeBtn {
    width: 50px;
    height: 50px;
  }
  .overlay .closeBtnWrapper .closeBtn svg {
    width: 25px;
    height: 25px;
  }
  .overlay .closeBtnWrapper .closeBtn:hover svg {
    width: 30px;
    height: 30px;
  }
  .inputWrapper {
    width: 600px;
  }
  .inputWrapper div label {
    width: 98%; /* Hack for input field overwlow after paga refresh */
    padding: 5px;
  }
  .overlay button {
    font-size: 15px;
  }
/*   .read, .notRead {
    display: inline-block;
  } */
}